<h1>review</h1>

<ul class="list-group">
  <% @review.each do |rev| %>
    <li class="list-group-item"><%= rev.content %> - <%= rev.restaurant.name %>- <%= rev.rating %></li>
  <% end %>
</ul>

<%=link_to "back", restaurants_path%>
<%=link_to "add a review",  new_restaurant_review_path(@restaurant)%>
